
.contextNone{
	display: none;
}

.context {
	display: block;
	position: absolute;
	border: 1px solid #000;
	text-decoration: none;
	list-style: none;
	margin-top: 0;
	padding-left: 0;
}

.underline {
	border-bottom: 1px solid #000;
}

.li {
	padding:0 10px;
}

.li:hover {
	background-color: #a5a5a5;
	cursor: pointer;
}